<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: white;
                display: flex;
                flex-direction: row; 
                justify-content: flex-start;
                align-items: flex-start;
                height: 100vh;
                margin: 0;
            }
            .flex-grid {
                background-color: black;
                height: 100vh;
                width: 16em;
            }
            .side-by-side {
                display: flex;
                flex-direction: column; 
            }

            .sideButton {
                background-color: black;
                color: white;
                border: none;
                margin-top: 0.5em;
                text-align: center;
                font-size: 20px;
                width: 100%;
                height: 90px;
            }

            .animalButton{
                width: 7em;
                height:3em;
                flex-shrink: 0;
                border:none;
                color: black;
                background-color: #D9D9D9;
                border-radius: 14px;
                font-size: 1.5em;
                font-family: 'Joan';
                margin-left: 7.2em;
            }

            .horizontal {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="side-by-side">
            <div class="flex-grid">
                <div>
                <a href = '/view'>
                    <button class="sideButton">View</button></a>
                </div>
                <div>
                <a href = '/report'>
                    <button class="sideButton" >Report</button> </a>
                </div> 
                <div>
                <a href = '/history' >
                    <button class="sideButton">History</button></a>
                </div>
                <div>
                <a href='/help' >
                    <button class="sideButton" style="background-color: #4386EC;">Help</button> </a>
                </div>
                <div>
                <a href = '/information'>
                    <button class="sideButton">Information</button> </a>
                </div>
                <div>
                    <img src="/images/exit.png" style="width: 5em;height: auto; margin-left:4.5em; margin-top: 12em;" onclick="someFunction();">
                </div>
            </div>
        </div>
        <div style="margin-top: 15em; margin-left: 10em; font-family: 'Josefin';">
            <h2>For any issues, please send an email to: </h2>
            <h2>s1312513@live.hkmu.edu.hk</h2>
        </div>
    </body>
</html>