<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
        <style>
            body { font-family: Arial, sans-serif; }
            .message { margin: 20px; padding: 20px; border: 1px solid #ccc; }
        </style>
    </head>
    <body>
        <div class="message">
            <h1>Info</h1>
            <p><%= message %></p>
            <p><a href="/history">Go back to content</a></p>
        </div>
    </body>
</html>