<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
        }
        #title {
            color: rgb(84,132,229);
            text-shadow: 3px 5px 3px rgb(76,34,184);
            font-size: 80px;
            text-align: center;
            margin-top: 7%;
            text-decoration: underline;
        }

        .input {
            background: transparent;
            text-align: center;
            margin-left: 37%;
            font-family: Joan;
            border-radius: 10px;
            border: 1px solid var(--icon-color, #FFF);
            margin-top: 3%;
            padding: 0.4%;
            font-size: 30px;
            color: white;
        }

        #button {
            width: 143px;
            height: 50px;
            flex-shrink: 0;
            border-radius: 18px;
            background: var(--blue2, #4386EC);
            margin-left: 46%;
            font-family: Joan;
            color: white;
            font-size: 18px;
            border: none;
        }

        #link {
            color: #4386EC;
            margin-left: 46%;
        }
    </style>
</head>
<body>
    <h1 id='title'><%= title %></h1>
    <div id='log'> 
        <form name='loginDetails'>
            <div>
                <input class="input" placeholder="username">
                <input class="input" placeholder="password"><br><br>
            </div>
            <div class="button">
                <button id="button">Submit</button>
            </div>
            <br>
            <div>
                <a href="" id='link'>Don't have an account?</a>
            </div>
        </form>    
    </div>
</body>
</html>
