<html>
    <head>
        <style>
            body {
                background-color: white;
                display: flex;
                flex-direction: row; 
                justify-content: flex-start;
                align-items: flex-start;
                height: 100vh;
                margin: 0;
            }
            .flex-grid {
                background-color: black;
                height: 100vh;
                width: 16em;
            }
            .side-by-side {
                display: flex;
                flex-direction: column; 
            }

            .sideButton {
                background-color: black;
                color: white;
                border: none;
                margin-top: 0.5em;
                text-align: center;
                font-size: 20px;
                width: 100%;
                height: 90px;
            }

            .animalButton{
                width: 7em;
                height:3em;
                flex-shrink: 0;
                border:none;
                color: black;
                background-color: #D9D9D9;
                border-radius: 14px;
                font-size: 1.5em;
                font-family: 'Joan';
                margin-left: 7.2em;
            }

        </style>
    </head>
    <body>
        <div class="side-by-side">
            <div class="flex-grid">
                <div>
                <a href = "/view">
                    <button class="sideButton">View</button></a>
                </div>
                <div>
                <a href = "/report">
                    <button class="sideButton" style="background-color: #4386EC;">Report</button> </a>
                </div> 
                <div>
                <a href = "/history">
                    <button class="sideButton">History</button></a>
                </div>
                <div>
                <a href= "/help">
                    <button class="sideButton">Help</button> </a>
                </div>
                <div>
                <a href = "/information">
                    <button class="sideButton">Information</button> </a>
                </div>
                <div>
                    <a href='/logout'><img src="/images/exit.png" style="width: 5em;height: auto; margin-left:4.5em; margin-top: 12em;"></a>
                </div>
            </div>
        </div>
        <div>
            <h1 style="position: relative; left: 740px; top: 100px;">What animal do you see?</h1><br><br><br><br><br><br>
        
        <form action="/report" method="POST" enctype="application/x-www-form-urlencoded">
            <span style="position: relative; left: 800px; top: 450px;font-size:30px">Type:</span> 
            <input type="text" name="type" style="position: relative; left: 820px; top: 450px;width:200px;height:60px;font-size:30px"><br>
            <input type="submit" value="create"style="position: relative; left: 900px; top: 500px;width:150px;height:60px;font-size:30px">  
        </form>
            </div>
            <div>
                <img src="/images/cat.png"style="position: relative; left: 0px; top: 300px;width: 20em;">
                <img src="/images/dog.png"style="position: relative; left: 40px; top: 250px;width: 20em;">
                <img src="/images/monkey.png"style="position: relative; left: 140px; top: 300px;width: 10em;">
            </div>
        </div>

    </body>
</html>
