<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
            background-color: white;
            display: flex;
            flex-direction: row; 
            height: 100vh;
            margin: 0;
            padding: 0;
            }
                
            .flex-grid {
            background-color: black;
            width: 16em;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
            overflow-y: auto;
            }
                
                .side-by-side {
            margin-left: 16em;
            width: calc(100% - 16em);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            }

            .sideButton {
                background-color: black;
                color: white;
                border: none;
                margin-top: 0.5em;
                text-align: center;
                font-size: 20px;
                width: 100%;
                height: 90px;
            }

            .search-container {
                display: flex;
                align-items: center;
                margin-left: 7em;
                margin-top: 4em;
            }

            label {
                margin-right: 1em;
                font-size: 2em;
            }

            select {
                font-size: 18px;
                padding: 0.5em;
            }

            .radioButton{
                color:gray;
                font-size: 1.5em;
            }
        </style>
    </head>
    <body>
        <div class="side-by-side">
            <div class="flex-grid">
                <div>
                <a href = "/view">
                    <button class="sideButton" style="background-color: #4386EC;">View</button></a>
                </div>
                <div>
                <a href = "/report">
                    <button class="sideButton">Report</button> </a>
                </div> 
                <div>
                <a href = "/history">
                    <button class="sideButton">History</button></a>
                </div>
                <div>
                <a href= "/help">
                    <button class="sideButton">Help</button> </a>
                </div>
                <div>
                <a href = "/information">
                    <button class="sideButton">Information</button> </a>
                </div>
                <div>
                    <a href = '/logout'><img src="/images/exit.png" style="width: 5em;height: auto; margin-left:4.5em; margin-top: 12em;"> </a>
                </div>
            </div>
            <form method="post" action="/view">
            <div class="column-down">
                <div class="search-container">
                    <label>Search District</label>
                    <select name="Location">
                        <option value="">Choose an option</option>
                        <option value="sham shui po">Sham Shui Po</option>
                        <option value="mong kok">Mong Kok</option>
                        <option value="tsuen wan">Tsuen Wan</option>
                        <option value="ho man tin">Ho Man Tin</option>
                        <option value="kai tak">Kai Tak</option>
                        <option value="yau ma tei">Yau Ma Tei</option>
                        <option value="jordan">Jordan</option>
                        <option value="kowloon">Kowloon</option>
                        <option value="sha tin">Sha Tin</option>
                    </select>
                    <label style="margin-left: 3em;">Animal Type</label>
                    <select name="Type">
                        <option value="">Choose an option</option>
                        <option value="Street Dog">Street Dog</option>
                        <option value="Street Cat">Street Cat</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="search-container">
                    <label>Breed</label>
                    <input type="text" name="Breed">
                    <label style="margin-left: 3em;">Gender</label>
                        <input type="radio" name="Gender" value="Male" id="male">
                        <label class ="radioButton" for="Male">Male</label><br>
                        <input type="radio" name="Gender" value="Female" id="female">
                        <label class ="radioButton" for="Female">Female</label><br>
                        <input type="radio" name="Gender" value="Unknown" id="unknown">
                        <label class ="radioButton" for="Unknown">Unknown</label><br>
                </div>
                <div class="search-container">
                    <label>Prominent Features</label>
                    <textarea rows="5"column="20" style="width: 50em;" name="Prominent_Features"></textarea>
                </div>
                <div class="search-container">
                    <label>Disabilities</label>
                    <textarea style="margin-left: 8em; width: 50em;" rows="5"column="20" name="Disabilities"></textarea>
                </div><br><br><br>
                <div>
                    <label style="margin-left: 3em;">Adopted?</label>
                    <input type="radio" name="Adopted" value="yes" id="yes">
                    <label class ="radioButton" for="yes">yes</label>
                    <input type="radio" name="Adopted" value="no" id="no">
                    <label class ="radioButton" for="no">no</label><br>
                    <button style="width: 7em; height: 3em; flex-shrink: 0; float: right; border: none; color: white; background-color: #4386EC; border-radius: 5px; font-size: 1em;font-family: 'Joan';">Submit</button>
                </div>
            </div>
        </form>
        </div>
        
    </body>
</html>